.logo-box {
    display: block;
    margin: 0 auto;
    width: 16px;
    height: 19px;

    // Media queries
    @media(min-width: 768px) {
        align-self: center;
    }

    .logo {
        width: 100%;
    }
}