* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    font-size: 16px;
    text-decoration: none; // Links
  }
  body {
    background-color: #131624;
    max-width: 1536px;
    margin: 0 auto;
  
    // Scrollbar styles
    &::-webkit-scrollbar {
      -webkit-appearance: none;
    }
    &::-webkit-scrollbar:vertical {
      width:10px;
    }
    &::-webkit-scrollbar-button:increment,
    &::-webkit-scrollbar-button {
      display: none;
    } 
    &::-webkit-scrollbar:horizontal {
      height: 10px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #9fcf141f;
      border-radius: 20px;
    }
    &::-webkit-scrollbar-track {
      border-radius: 10px;  
    }
  }
  